body {
    background-image: url("../images/thumb-1920-486042.jpg");
    /* background-repeat: no-repeat; */

}

.row {
   
    background-image: url("../images/thumb-1920-668689.jpg");
}


.card-body {
    background-image: url("../images/thumb-1920-532651.jpg");
    background-position: center;
    background-size: cover;
   
}

#marvel {
    margin: 4%;
    text-align: center; 
    

}

button {
    border: 2px solid black;
    background-color: #EA3B3B;
    color: white;
    height: 40px;
    box-shadow: 5px 5px 5px  #D46A6A;
 
}

#giphy {
    margin: 4px;
}

#marvel .giphy {
    border-radius: 5px;
    margin: 2px;
}

#marvel :hover {
    animation: roll 3s infinite;
    transform: rotate(30deg);
    transition: all 1s;
    
    
}


#add-giphy {
    background-color: #EA3B3B;
    color: white;
    margin-left: 10%;
}

.image {
    height: 200px;
    width: 300px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

#giphy-input {
    border: 2px solid #EA3B3B;
    box-shadow: 5px 5px 5px  #D46A6A;
    
}
#add-giphy {
      border: 2px solid #EA3B3B;
    box-shadow: 5px 5px 5px  #D46A6A;
}

